<!-- accounts/templates/login.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div>
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit">Iniciar Sesión</button>
    </form>
    <a href="{% url 'signup' %}">¿No tienes una cuenta? Regístrate</a>
</body>
</html>
